.h1 {
  font-family: "Bangers", cursive;
  margin: 0;
  padding: 10px;
  font-size: 100px;
  text-shadow: 4px 4px #db36a4;
  letter-spacing: 1px;
}

.tagline {
  padding: 10px;
  color: #f7ff00;
}

.header {
  display: flex;
  justify-content: center;
  background: black;
  padding: 10px;
  margin: 0;
  color: white;
  align-items: center;
}
