.search-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 20px;
  /* background: linear-gradient(to right, #f7ff00, #db36a4); */
  /* border: 2px solid black; */
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.select {
  text-decoration: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #db36a4;
  padding: 5px;
  border-radius: 5px;
}

.text-box {
  text-decoration: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #db36a4;
  padding: 5px;
  border-radius: 5px;
}

.search-button {
  text-decoration: none;
  style: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  background-color: #db36a4;
  /* border: 4px solid black; */
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}
.search-button:hover {
  background: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #db36a4 !important;
}
