<form class="search-form" #searchForm="ngForm" (ngSubmit)="search(searchForm)">
  <label for="sort">Sort by?</label>
  <select name="sort" id="sort" ngModel>
    <option value="popularity.desc">Popularity Desc.</option>
    <option value="popularity.asc">Popularity Asc.</option>
    <option value="vote_average.desc">Rating Desc.</option>
    <option value="vote_average.asc">Rating Asc.</option>
  </select>

  <label for="genre">Genre?</label>
  <select class="select" name="genre" id="genre" ngModel>
    <option *ngFor="let genre of genres" value="{{ genre.id }}">
      {{ genre.name }}
    </option>
  </select>
  <label for="year">Year?</label>
  <input
    class="text-box"
    type="text"
    name="year"
    id="year"
    placeholder="Write a year..."
    ngModel
  />

  <button class="search-button">Search</button>
</form>
